/*------------------------------ CONTENTS ------------------------------*/
#contents {
	margin: 0 0 60px;
}
#contents h4 {
	background: url(../images/separator-horizontal.png) no-repeat center center;
	color: #fbfdf8;
	font-family: 'HammersmithOneRegular';
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 24px;
	padding: 0 24px;
	text-transform: uppercase;
}
#contents h4 span {
	background-color: #97b847;
	display: block;
	height: 29px;
	width: 171px;
	padding: 4px 0 2px;
	text-align: center;
}
/** Adbox **/
#adbox {
	width: 876px;
	margin: 0 auto 30px;
	position: relative;
}
#adbox a.button {
	background-position: 0 bottom;
	display: block;
	height: 47px;
	width: 214px;
	position: absolute;
	bottom: 41px;
	left: 305px;
}
#adbox a.button:hover {
	background-position: 0 -132px;
}
#adbox span {
	background: url(../images/shadow.jpg) no-repeat center top;
	clear:both;
	display: block;
	height: 13px;
	margin: -6px auto 0;
}
/** Search **/
#search {
	float: right;
	background: url(../images/bg-quick-search.jpg) no-repeat;
	height: 319px;
	width: 200px;
	padding: 18px 29px;
}
#search h3 {
	color: #fffeff;
	margin: 0 0 6px;
	text-transform: uppercase;
}
#search p {
	color: #b7dedd;
	font-family: 'Trebuchet MS';
	font-size: 12px;
	line-height: 14px;
	margin: 0;
	padding: 0 0 18px;
}
#search form ul {
	list-style: none;
	margin: 6px 0 12px;
	padding: 0;
}
#search form ul li {
	background: url(../images/input.gif) no-repeat;
	height: 26px;
	width: 199px;
	margin: 0 0 12px;
	padding: 2px;
}
#search form select {
	font-family: 'Trebuchet MS';
	color: #5c7675;
	width: 194px;
	border: 0;
	padding: 0;
}
#search .button {
	background-position: 0 -93px;
	color: #222d05;
	cursor: pointer;
	font-family: 'HammersmithOneRegular';
	font-style: oblique;
	font-size: 15px;
	height: 29px;
	width: 198px;
	border: 0;
	margin: 18px 0 0;
	padding: 0 0 0 10px;
	text-align: left;
	text-transform: uppercase;
}
#search .button:hover {
	background-position: 0 -54px;
}
#search .btn-another {
	background-color: #850004;
	color: #fcffff;
	padding: 2px 5px 0;
}
#search .btn-another:hover {
	background-color: #d2000d;
}

/** MAIN **/
#main, #main div {
	margin: 0 0 30px;
}
ul.items {
	display: inline-block;
	list-style: none;
	margin: 0 15px;
	padding: 0;
}
ul.items li {
	float: left;
	width: 169px;
	margin-left: 66px;
}
ul.items li:first-child {
	margin-left: 0;
}
ul.items li img {
	border: 1px solid #d2cecf;
}
ul.items li a {
	color: #646b85;
	font-family: 'HammersmithOneRegular';
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	text-decoration: none;
}
ul.items li a:hover {
	color: #a3cecf;
}
ul.items li a span {
	float: right;
	color: #e3b612;
}
/*------------------------------ About Page ------------------------------*/
#faq {
	color: #606c84;
	padding: 0 24px;
}
#faq p {
	font-family: 'Trebuchet MS';
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
}
#faq p b {
	color: #5f6d87;
	display: block;
	font-family: 'HammersmithOneRegular';
	font-size: 16px;
	font-weight: normal;
}
#faq p a, #checkout p a {
	color: #606c84;
}
#faq p a:hover, #checkout p a:hover {
	color: #91a4ce;
}
#stocks {
	overflow: hidden;
}
#stocks ul {
	display: inline-block;
	list-style: none;
	width: 940px;
	margin: 0 24px;
	padding: 0;
}
#stocks ul li {
	float: left;
	color: #646b85;
	font-family: 'HammersmithOneRegular';
	font-size: 14px;
	line-height: 24px;
	width: 169px;
	margin: 0 66px 60px 0;
	position: relative;
}
#stocks ul li img {
	border: 1px solid #d2cecf;
}
#stocks ul li em {
	color: #959394;
	display: block;
	font-size: 12px;
}
#stocks ul li a {
	background-color: #b8dcdd;
	color: #7c9e9f;
	font-size: 12px;
	font-style: italic;
	padding: 2px 4px 0;
	text-decoration: none;
}
#stocks ul li a:hover {
	background-color: #c7eeef;
}
#stocks ul li span {
	float: right;
	color: #e3b612;
}
#stocks .btn-cart {
	background-color: #e5b614;
	color: #fcffff;
	padding: 2px 5px 0;
}
#stocks .btn-cart:hover {
	background-color: #d2941d;
}

#stocks .btn-wish {
	background-color: #85b604;
	color: #fcffff;
	padding: 2px 5px 0;
}
#stocks .btn-wish:hover {
	background-color: #d2940d;
}

#stocks ul li a.preview {
	background-color: transparent;
	display: block;
	height: 171px;
	width: 171px;
	padding: 0;
}
#stocks ul li a.preview span.icon {
	background-position: -63px 0;
	display: block;
	height: 12px;
	width: 15px;
	padding: 0;
	position: absolute;
	top: 156px;
	right: 0;
}
/*------------------------------ checkout page ------------------------------*/
#checkout {
	display: inline-block;
	padding: 0 12px 30px;
 *padding: 0 12px;/** Needed for IE7 **/
}
#checkout h4 span {
	background-color: #87CEFA;
	font-size: 25px;
	color: #fff;
}
#checkout table {
	color: #d3d1d2;
	font-family: "lato-bold", Helvetica, Arial, sans-serif;
	width: 900px;
	margin: 0 auto 90px;
}
#checkout table th { /*商品數量小計*/
	color: #636a86;
	font-size: 18px;
	line-height: 24px;
}
#checkout table tr th:first-child {
	padding-left: 50px;
	text-align: left;
}
#checkout table tr td {
	color: #636a86;
	width: 120px;
	padding: 6px 0 36px;
	text-align: center;
}
#checkout table tr td:first-child {
	width: 520px;
	text-align: left;
}
#checkout table tr td img {
	float: left;
	margin: 18px 18px 18px 40px;
}
#checkout table tr td b { /*商品名稱*/
	display: block;
	font-size: 17px;
	margin-top: 18px;
}
#checkout table tr td p { /*商品代號*/
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding-bottom: 30px;
}
#checkout table tr td input.txtfield {
	color: #636a86;
	font-size:15px;
	font-weight: bold;
	line-height: 24px;
	height: 24px;
	width: 32px;
	border: 0;
	margin-left: 20px;
	padding: 0 5px;
	text-align: right;
}
#checkout table tr td a.minus, #checkout table tr td a.plus {	
	float: right;
	background-position: 0 0;
	height: 14px;
	width: 14px;
	margin: 5px 20px 5px 2px;
}
#checkout table tr td a.plus {
	background-position: -33px 0;
	margin-right: 2px;
}
#checkout img.minus, #checkout img.plus {	
	display: block;
	float: right;
	background-position: 0 0;
	height: 14px;
	width: 14px;
	margin: 5px 20px 5px 2px;
}

#checkout table tr td a.minus:hover, #checkout table tr td a.plus:hover ,#checkout img.plus:hover,#checkout img.minus:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}
#checkout table tbody tr td.last {
	font-weight: bold;
}
#checkout table tbody tr td.last div { /*錢*/
	color: #87CEFA;
	position: relative;
}
#checkout table tbody tr td.last div a {
	background-color: #b8dcdd;
	color: #809ea0;
	display: block;
	font-size: 15px;
	font-style: italic;
	line-height: 24px;
	height: 24px;
	width: 114px;
	text-decoration: none;
	position: absolute;
	bottom: -60px;
	left: -50px;
}
#checkout table tbody tr td.last div a:hover {
	background-color: #c7eeef;
}
#checkout a.proceed-btn { /*下一步*/
	float: right;
	background-color: #87CEFA;
	color: #fff;
	font-family: "lato-bold", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: italic;
	padding: 6px 12px;
	text-decoration: none; /*超連結字樣*/
}
#checkout a.proceed-btn:hover {
	background-color: #87CEFA;
}
#checkout table tbody tr td div input.btn-delete {
	float: right;
	background-color: #87CEFA;
	color: #fff;
	font-family: "lato-bold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: italic;
}